<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text to video</title>
</head>
<body>
    <h1>Scrolling text video generator</h1>
    <p>Usage example: <a href="/runtext/?text=desired_text">/runtext/?text=desired_text</a></p>
    <h2>You can also change these parameters:</h2>
    <ul>
    <li><b>Font size</b>. Default: font_size=55</li>
    <li><b>Frame size</b> in pixels. Default: frame_size=100,100</li>
    <li><b>Background color</b> and <b>text color</b> in rgb. Default: bg_color=0,0,0 text_color=255,255,255</li>
    <li><b>Duration</b> in seconds. Default: d=3</li>
    <li><b>Direction</b> of a text, either 'left', or 'right'. Default: dir=left</li>
    </ul>
    <a href="/latest">List of latest prompts...</a>
</body>
</html>