<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text to video</title>
</head>
<body>
    <h1>Scrolling text video maker</h1>
    <p>Usage example: /runtext/?text=desired_text</p>
    <h2>You can also use these parameters:</h2>
    <p><b>Font size</b>. Default: font_size=55</p>
    <p><b>Image size</b> in pixels. Default: image_size=100,100</p>
    <p><b>Background color</b> and <b>text color</b> in rgb. Default: bg_color=0,0,0 text_color=255,255,255</p>
    <p><b>Duration</b> in seconds. Default: d=3</p>
    <p><b>Direction</b> of a text, either 'left', or 'right'. Default: dir=left</p>

</body>
</html>