{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'latest_prompts/main.css' %}">
    <title>Text to video</title>
</head>
<body>
    <div class="position-relative">
      <div class="position-absolute top-0 start-50 translate-middle-x">
        <h1>Scrolling text video generator</h1>
        <p>Usage example: <a href="/runtext/?text=desired_text">/runtext/?text=desired_text</a></p>
        <h2>You can also change these parameters:</h2>
        <ul>
        <li><b>Font size</b>. Default: font_size=55</li>
        <li><b>Frame size</b> in pixels. Default: frame_size=100,100</li>
        <li><b>Background color</b> and <b>text color</b> in rgb. Default: bg_color=0,0,0 text_color=255,255,255</li>
        <li><b>Duration</b> in seconds. Default: d=3</li>
        <li><b>Direction</b> of a text, either 'left', or 'right'. Default: dir=left</li>
        </ul>
        <a href="/latest">List of latest prompts...</a>
      </div>
    </div>
</body>
</html>