{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'latest_prompts/main.css' %}">
    <title>Latest prompts</title>
    <style type="text/css">
       TABLE {
        width: 1000px;
       }
       TD {
        text-align: center;
        border: 1px solid black;
        padding: 6px;
       }
    </style>
</head>
<body>
<div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x">
        <h1>Latest prompts</h1>
        <table>
          <tbody>
            <tr>
              <td><b>ID</b></td>
              <td><b>Text</b></td>
              <td><b>Font size</b></td>
              <td><b>Frame size</b></td>
              <td><b>Background color</b></td>
              <td><b>Text color</b></td>
              <td><b>Duration</b></td>
              <td><b>Direction</b></td>
              <td><b>Link</b></td>
            </tr>
            {% for prompt in prompts %}
              <tr>
                <td>{{ prompt.id }}</td>
                <td>{{ prompt }}</td>
                <td>{{ prompt.font_size }}</td>
                <td>{{ prompt.frame_size }}</td>
                <td style="background: rgb({{ prompt.bg_color }})"></td>
                <td style="background: rgb({{ prompt.text_color }})"></td>
                <td>{{ prompt.duration }} sec</td>
                <td>{{ prompt.direction }}</td>
                <td>
                  <a href="/runtext/?text={{ prompt.text }}&font_size={{ prompt.font_size }}&frame_size={{ prompt.frame_size }}&bg_color={{ prompt.bg_color }}&text_color={{ prompt.text_color }}&duration={{ prompt.duration }}&direction={{ prompt.direction }}">
                    Click...
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="/">Home page</a>
    </div>
</div>
</body>
