<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Latest prompts</title>
</head>
<body>

<h1>Latest prompts</h1>

<table style="border: 1px solid rgb(0, 0, 0);">
  <tbody>
    <tr>
      <td style="border: 1px solid rgb(0, 0, 0);"><b>ID</b>
      </td>
      <td style="border: 1px solid rgb(0, 0, 0);"><b>Text</b>
      </td>
      <td style="border: 1px solid rgb(0, 0, 0);"><b>Font size</b>
      </td>
      <td style="border: 1px solid rgb(0, 0, 0);"><b>Frame size</b>
      </td>
      <td style="border: 1px solid rgb(0, 0, 0);"><b>Background color</b>
      </td>
      <td style="border: 1px solid rgb(0, 0, 0);"><b>Text color</b>
      </td>
      <td style="border: 1px solid rgb(0, 0, 0);"><b>Duration</b>
      </td>
      <td style="border: 1px solid rgb(0, 0, 0);"><b>Direction</b>
      </td>
      <td style="border: 1px solid rgb(0, 0, 0);"><b>Link</b>
      </td>
    </tr>
    {% for prompt in prompts %}
      <tr>
        <td style="border: 1px solid rgb(0, 0, 0);">{{ prompt.id }}
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">{{ prompt }}
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">{{ prompt.font_size }}
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">{{ prompt.frame_size }}
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">{{ prompt.bg_color }}
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">{{ prompt.text_color }}
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">{{ prompt.duration }}
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">{{ prompt.direction }}
        </td>
        <td style="border: 1px solid rgb(0, 0, 0);">
          <a href="/runtext/?text={{ prompt.text }}&font_size={{ prompt.font_size }}&frame_size={{ prompt.frame_size }}&bg_color={{ prompt.bg_color }}&text_color={{ prompt.text_color }}&duration={{ prompt.duration }}&direction={{ prompt.direction }}">
            Click...
          </a>
      </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="/">Home page</a>
</body>
