{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'latest_prompts/main.css' %}">
    <title>Latest prompts</title>
</head>
<body>
<div class="position-relative">
    <div class="position-absolute top-0 start-50 translate-middle-x">
        <span class="border border-white">
            <h1 style="text-align: center;">
                {% if amount_of_prompts < max_prompts %}
                    Latest prompts
                {% else %}
                    {{ max_prompts }} latest prompts
                {% endif %}
            </h1></span>
        <table>
          <tbody>
            <tr>
              <th>ID</th>
              <th>Text</th>
              <th>Font size</th>
              <th>Frame size</th>
              <th>Background color</th>
              <th>Text color</th>
              <th>Duration</th>
              <th>Direction</th>
              <th>Link</th>
            </tr>
            {% for prompt in prompts %}
              <tr>
                <td>{{ prompt.id }}</td>
                <td>{{ prompt }}</td>
                <td>{{ prompt.font_size }} </td>
                <td>{{ prompt.frame_size }}</td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb({{ prompt.bg_color }})" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg></td>
                <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb({{ prompt.text_color }})" class="bi bi-circle-fill" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8"/></svg></td>
                <td>{{ prompt.duration }} sec</td>
                <td>{{ prompt.direction }}</td>
                <td>
                  <a href="/runtext/?text={{ prompt.text }}&font_size={{ prompt.font_size }}&frame_size={{ prompt.frame_size }}&bg_color={{ prompt.bg_color }}&text_color={{ prompt.text_color }}&duration={{ prompt.duration }}&direction={{ prompt.direction }}">
                    Click
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <p></p>
        <p><a href="/">Back to the home page...</a></p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>